<main id="content" role="main">
    
        <div id="error-summary" class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="display:none">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                There is a problem
            </h1>

            <ul class="error-summary-list text">
                <li id="done-error-link"><a href="#done-yes">Select yes if you were able to do what you needed to</a></li>
                <li id="what-error-link"><a href="#what">Enter what you were trying to do and why you were not able to do it</a></li>
                <li id="before-error-link"><a href="#tel">Select what you did before you used this service</a></li>
                <li id="sat-error-link"><a href="#vsat">Select how you felt about the service you received today</a></li>
                <li id="rec-error-link"><a href="#rec">Enter how likely you are to recommend this online service to a friend or colleague</a></li>
                <li id="rat-error-link"><a href="#rating">Enter why you gave this rating</a></li>

            </ul>

        </div>

        <div class="grid-row">

            <div class="column-two-thirds">

            <a class="link-back" href="javascript:history.go(-1)">Back</a>                                

                <h1 class="heading-large">
                    Give feedback
                </h1>

                <p>
                    Do not include any personal or financial information like your National Insurance number or bank details.
                </p>

                <form role="form" class="form" action="thanks">            

                    <fieldset class="inline">                    

                        <div class="form-group" id="done-yes-no">
                        <legend class="form-label-bold">
                            Were you able to do what you needed to do today?
                        </legend>

                        <span id="done-error" class="error-message" style="display:none">Select yes if you were able to do what you needed to</span>

                        <label class="block-label" for="done-yes">
                            <input id="done-yes" type="radio" name="done" value="Yes" aria-required="true">Yes
                        </label>

                        <label class="block-label" for="done-no" data-target="what-panel">
                            <input id="done-no" type="radio" name="done" value="No" aria-required="true">No
                        </label>                        

                        <div class="form-group panel panel-border-narrow js-hidden" id="what-panel">                            
                            <label class="form-label-bold" for="what" aria-required="true">
                                What were you trying to do and why were you not able to do it?
                            </label>
                            <span id="what-error" class="error-message" style="display:none">Enter what you were trying to do and why you were not able to do it</span>
                            <textarea class="form-control" id="what" style="width:100%" rows="5"></textarea>                        
                        </div>  
                        </div>

                    </fieldset>

                    <fieldset>                    

                        <div class="form-group" id="before">
                        <legend class="form-label-bold">
                            What did you do before using this service?
                        </legend>

                            <p role="complementary">
                                Select all that apply.
                            </p>

                        <span id="before-error" class="error-message" style="display:none">Select what you did before you used this service</span>

                        <label class="block-label" for="tel" id="tel-label">
                            <input id="tel" type="checkbox" name="before" value="Telephone HMRC" onclick="checkNone()" aria-required="true">Telephoned HMRC
                        </label>

                        <label class="block-label" for="let" id="let-label">
                            <input id="let" type="checkbox" name="before" value="Wrote to HMRC" onclick="checkNone()" aria-required="true">Wrote to HMRC
                        </label>

                        <label class="block-label" for="online" id="online-label">
                            <input id="online" type="checkbox" name="before" value="Completed an online form" onclick="checkNone()" aria-required="true">Completed an online form
                        </label>

                        <label class="block-label" for="govuk" id="govuk-label">
                            <input id="govuk" type="checkbox" name="before" value="Read guidance on GOV>UK" onclick="checkNone()" aria-required="true">Read guidance on GOV.UK
                        </label>

                        <label class="block-label" for="pro" id="pro-label">
                            <input id="pro" type="checkbox" name="before" value="Spoke to your employer, agent or accountant" onclick="checkNone()" aria-required="true">Spoke to your employer, agent or accountant
                        </label>

                        <label class="block-label" for="fandf" id="fandf-label">
                            <input id="fandf" type="checkbox" name="before" value="Spoke to a friend or family member" onclick="checkNone()" aria-required="true">Spoke to a friend or family member
                        </label>

                        <label class="block-label" for="none" id="none-label">
                            <input id="none" type="checkbox" name="before" value="None of the above" onclick="checkChecks()" aria-required="true">None of these
                        </label>
                        </div>
                    </fieldset> 

                    <fieldset>                    

                        <div class="form-group" id="satisfaction">
                        <legend class="form-label-bold">
                            Overall, how did you feel about the service you received today?
                        </legend>                        


                        <span id="sat-error" class="error-message" style="display:none">Select how you felt about the service you received today </span>

                        <label class="block-label" for="vsat">
                            <input id="vsat" type="radio" name="sat" value="Very satisfied" aria-required="true">Very satisfied
                        </label>

                        <label class="block-label" for="sat">
                            <input id="sat" type="radio" name="sat" value="Satisifed" aria-required="true">Satisifed
                        </label>

                        <label class="block-label" for="neither">
                            <input id="neither" type="radio" name="sat" value="Neither satisified or dissatisfied" aria-required="true">Neither satisifed or dissatisfied
                        </label>

                        <label class="block-label" for="dis">
                            <input id="dis" type="radio" name="sat" value="Dissatisfied" aria-required="true">Dissatisfied
                        </label>

                        <label class="block-label" for="vdis">
                            <input id="vdis" type="radio" name="sat" value="Very dissatisfied" aria-required="true">Very dissatisfied
                        </label>                    
                        </div>
                    </fieldset>

                    <div class="form-group" id="recommended">
                        <label class="form-label-bold" for="rec">
                            How likely are you to recommend this online service to a friend or colleague if they needed to do the same thing?
                        </label>                                                
                        
                        <p>
                            Give a rating from 0 to 10 where 0 is very unlikely to recommend and 10 is very likely to recommend.
                        </p>
                        
                        <div class="form-group">
                            <span id="rec-error" class="error-message" style="display:none">Enter how likely you are to recommend this online service to a friend or colleague</span>
                            <input class="form-control" id="rec" name="recommended" type="text" style="width:10%;">
                            </div>                            
                    </div>                            

                    <div class="form-group" id="rat">                        
                        <label class="form-label-bold" for="rating">
                            Why did you give this rating?
                        </label>
                        <span id="rat-error" class="error-message" style="display:none">Enter why you gave this rating</span>
                        <textarea class="form-control" id="rating" style="width:100%" rows="5" aria-required="true"></textarea>              
                    </div>

                    <div class="form-group" id="improve">
                        <label class="form-label-bold" for="rating">
                            How could we improve this service?
                        </label>
                        <textarea class="form-control" id="rating" style="width:100%" rows="5"></textarea>                        
                    </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue" id="submit" onClick="return checkSelected()">
                </div>

          </form>

        </div>
      </div>
</main>