{% extends "layout.html" %}

{% block page_title %}
  Exit survey
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}

        <div id="error-summary" class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="display:none">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                There is a problem
            </h1>

            <ul class="error-summary-list text">                
                <li id="before-error-link"><a href="#tel">Select what you did before you used this service</a></li>
            </ul>

        </div>

        <div class="grid-row">

            <div class="column-two-thirds">

            <a class="link-back" href="javascript:history.go(-1)">Back</a>                                

                <h1 class="heading-large">
                    Give feedback
                </h1>

                <p>
                    Do not include any personal or financial information like your National Insurance number or bank details.
                </p>

                <form role="form" class="form" action="exit3">                    

                    <fieldset>                    

                        <div class="form-group" id="before">
                        <legend class="form-label-bold">
                            What did you do before using this service?
                        </legend>

                            <p role="complementary">
                                Select all that apply.
                            </p>

                        <span id="before-error" class="error-message" style="display:none">Select what you did before you used this service</span>

                        <label class="block-label" for="tel" id="tel-label">
                            <input id="tel" type="checkbox" name="before" value="Telephone HMRC" onclick="checkNone()" aria-required="true">Telephoned HMRC
                        </label>

                        <label class="block-label" for="let" id="let-label">
                            <input id="let" type="checkbox" name="before" value="Wrote to HMRC" onclick="checkNone()" aria-required="true">Wrote to HMRC
                        </label>

                        <label class="block-label" for="online" id="online-label">
                            <input id="online" type="checkbox" name="before" value="Completed an online form" onclick="checkNone()" aria-required="true">Completed an online form
                        </label>

                        <label class="block-label" for="govuk" id="govuk-label">
                            <input id="govuk" type="checkbox" name="before" value="Read guidance on GOV>UK" onclick="checkNone()" aria-required="true">Read guidance on GOV.UK
                        </label>

                        <label class="block-label" for="pro" id="pro-label">
                            <input id="pro" type="checkbox" name="before" value="Spoke to your employer, agent or accountant" onclick="checkNone()" aria-required="true">Spoke to your employer, agent or accountant
                        </label>

                        <label class="block-label" for="fandf" id="fandf-label">
                            <input id="fandf" type="checkbox" name="before" value="Spoke to a friend or family member" onclick="checkNone()" aria-required="true">Spoke to a friend or family member
                        </label>

                        <label class="block-label" for="none" id="none-label">
                            <input id="none" type="checkbox" name="before" value="None of the above" onclick="checkChecks()" aria-required="true">None of these
                        </label>
                        </div>
                    </fieldset>                   

                <div class="form-group">
                    <input class="button" type="submit" value="Continue" id="submit" onClick="return checkSelected()">
                </div>

          </form>

        </div>
      </div>
</main>



<script>

function checkSelected(){

var before = beforeToday();
    console.log(before);
    
if (before == false){
    $('#error-summary').show();
    $('#error-summary').focus();
    return false;
}
else{
    $('#error-summary').hide();        
    return true;
}
}
    
function beforeToday(){
    
if(!document.getElementById('tel').checked && !document.getElementById('let').checked && !document.getElementById('online').checked && !document.getElementById('govuk').checked && !document.getElementById('pro').checked && !document.getElementById('fandf').checked && !document.getElementById('none').checked){    
    $('#before-error-link').show();
    $('#before-error').show();
    $('#before').addClass('error');
    return false;
}
else{
    $('#before-error-link').hide();
    $('#before-error').hide();
    $('#before').removeClass('error');
    return true;
}

}

function checkNone(){
    
if ($('#none').attr('checked', true)){
    $('#none').attr('checked', false);
    $('#none-label').removeClass('selected');
}
else{
}
}

function checkChecks(){
    
if ($('#tel').attr('checked', true)){
    $('#tel').attr('checked', false);
    $('#tel-label').removeClass('selected');
}
if ($('#let').attr('checked', true)){
    $('#let').attr('checked', false);
    $('#let-label').removeClass('selected');
}
if ($('#online').attr('checked', true)){
    $('#online').attr('checked', false);
    $('#online-label').removeClass('selected');
}
if ($('#govuk').attr('checked', true)){
    $('#govuk').attr('checked', false);
    $('#govuk-label').removeClass('selected');
}
if ($('#pro').attr('checked', true)){
    $('#pro').attr('checked', false);
    $('#pro-label').removeClass('selected');
}
if ($('#fandf').attr('checked', true)){
    $('#fandf').attr('checked', false);
    $('#fandf-label').removeClass('selected');
}
}

    
</script>

{% endblock %}