{% extends "layout.html" %}

{% block page_title %}
  How likely are you to recommend this service to a friend or colleague if they needed to do the same thing?
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}

        <div class="grid-row">

            <div class="column-two-thirds">

            <a class="link-back" href="javascript:history.go(-1)">Back</a>                                

                <h1 class="heading-large">
                    <span class="heading-secondary">Give feedback</span>
                    How likely are you to recommend this service to a friend or colleague if they needed to do the same thing?
                </h1>

                <form role="form" class="form" action="thanks2">                               

                    <fieldset>                    

                        <div class="form-group" id="recommended">
                        <legend class="visuallyhidden">
                            How likely are you to recommend this service to a friend or colleague if they needed to do the same thing?
                        </legend>                                                

                        <label class="block-label" for="10">
                            <input id="10" type="radio" name="rec" value="10">10 Very likely
                        </label>

                        <label class="block-label" for="09">
                            <input id="09" type="radio" name="rec" value="09">9
                        </label>

                        <label class="block-label" for="08">
                            <input id="08" type="radio" name="rec" value="08">8
                        </label>

                        <label class="block-label" for="07">
                            <input id="07" type="radio" name="rec" value="07">7
                        </label>

                        <label class="block-label" for="06">
                            <input id="06" type="radio" name="rec" value="06">6
                        </label>

                        <label class="block-label" for="05">
                            <input id="05" type="radio" name="rec" value="05">5
                        </label>

                        <label class="block-label" for="04">
                            <input id="04" type="radio" name="rec" value="04">4
                        </label>

                        <label class="block-label" for="03">
                            <input id="03" type="radio" name="rec" value="03">3
                        </label>

                        <label class="block-label" for="02">
                            <input id="02" type="radio" name="rec" value="02">2
                        </label>

                        <label class="block-label" for="01">
                            <input id="01" type="radio" name="rec" value="01">1
                        </label>

                        <label class="block-label" for="00">
                            <input id="00" type="radio" name="rec" value="00">0 Very unlikely
                        </label>
                        </div>
                    </fieldset>

                    <div class="form-group" id="rat">                        
                        <label class="heading-large" for="rating">
                            Why did you give this rating?
                        </label>                        
                        
                        <p>
                            Do not include any personal or financial information like your National Insurance number or bank details.
                        </p>
                        <textarea class="form-control" id="rating" style="width:100%" rows="5"></textarea>              
                    </div>                    

                <div class="form-group">
                    <input class="button" type="submit" value="Continue" id="submit">
                </div>

          </form>

        </div>
      </div>
</main>

{% endblock %}