{% extends "layout.html" %}

{% block page_title %}
  What did you do before using this service?
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}

        <div class="grid-row">

            <div class="column-two-thirds">

            <a class="link-back" href="javascript:history.go(-1)">Back</a>                                

                <h1 class="heading-large">                    
                    Give feedback
                </h1>

                <p>
                    All questions in the survey are optional.
                </p>

                <form role="form" class="form" action="feedback2">                                  

                <fieldset class="inline">
                    <div class="form-group" id="done-yes-no">

                        <legend class="heading-medium">
                            Were you able to do what you needed to do today?
                        </legend>                

                        <label class="block-label" for="done-yes">
                            <input id="done-yes" type="radio" name="done" value="Yes">Yes
                        </label>

                        <label class="block-label" for="done-no">
                            <input id="done-no" type="radio" name="done" value="No">No
                        </label>                        
                        
                    </div>

                </fieldset>                  

                <div class="form-group">
                    <input class="button" type="submit" value="Continue" id="submit">
                </div>

          </form>

        </div>
      </div>
</main>

{% endblock %}