{% extends "layout.html" %}

{% block page_title %}
  Overall, how did you feel about the service you received today?
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}

        <div class="grid-row">

            <div class="column-two-thirds">

            <a class="link-back" href="javascript:history.go(-1)">Back</a>                                

                <h1 class="heading-large">
                    <!-- <span class="heading-secondary">Give feedback</span> -->
                    Overall, how did you feel about the service you received today?
                </h1>

                <form role="form" class="form" action="feedback4">            

                    <fieldset>                    

                        <div class="form-group" id="satisfaction">
                        <legend class="visuallyhidden">
                            Overall, how did you feel about the service you received today?
                        </legend>
                        
                        <div class="multiple-choice">                        
                            <input id="vsat" type="radio" name="sat" value="Very satisfied">
                            <label class="block-label" for="vsat">Very satisfied</label>
                        </div>

                        <div class="multiple-choice">                        
                            <input id="sat" type="radio" name="sat" value="Satisfied">
                            <label class="block-label" for="sat">Satisfied</label>
                        </div>

                        <div class="multiple-choice">                        
                            <input id="neither" type="radio" name="sat" value="Neither satisfied or dissatisfied">
                            <label class="block-label" for="neither">Neither satisfied or dissatisfied</label>
                        </div>

                        <div class="multiple-choice">                        
                            <input id="dis" type="radio" name="sat" value="Dissatisfied">
                            <label class="block-label" for="dis">Dissatisfied</label>
                        </div>

                        <div class="multiple-choice">                        
                            <input id="vdis" type="radio" name="sat" value="Very dissatisfied">
                            <label class="block-label" for="vdis">Very dissatisfied</label>                    
                        </div>
                        </div>
                    </fieldset>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue" id="submit">
                </div>

          </form>

        </div>
      </div>
</main>

{% endblock %}