{% extends "layout.html" %}

{% block page_title %}
  HMRC feedback
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                Feedback        
            </h1>
        
            <p>
                Initial thoughts on collecting feedback from services.
            </p>
      
            <h2 class="heading-medium">
                Get feedback
            </h2>
            
            <ul class="list-bullet">
                <li><a href="feedback1">Version 1: service-specific tasks (tax credits)</a></li>
                <li><a href="feedback1a">Version 2: no service-specific tasks</a></li>
            </ul>

            <h2 class="heading-medium">
                Questions
            </h3>

            <ul class="list-bullet">
                <li>Were you able to do what you needed to do today?<br>
                Why did you come to this service?<br>
                <a href="feedback1">Service-specific tasks</a><br>
                <a href="feedback1a">No service-specific tasks</a></li>
                <li>What did you try before using this service?<br>
                <a href="feedback2">Screen</a></li>
                <li>Overall, how did you feel about the service you received today?<br>
                <a href="feedback3">Screen</a></li>
                <li>How likely are you to recommend this service to a friend or colleague if they needed to do the same thing?<br>
                Why did you give this rating?<br>
                <a href="feedback4">Screen</a></li>
            </ul>

            <h2 class="heading-medium">
                Different ways we could ask the NPS question
            </h2>

            <ul class="list-bullet">
                <li><a href="nps-question/exit-survey">Radios</a><!--&nbsp;(<a href="nps-question/exit-survey-code">Code</a>, <a href="nps-question/exit-survey-js">JS</a>)--></li>
                <li><a href="nps-question/exit-survey2">Drop down</a><!--&nbsp;(<a href="nps-question/exit-survey2-code">Code</a>, <a href="nps-question/exit-survey2-js">JS</a>)--></li>
                <li><a href="nps-question/exit-survey3">Text box</a><!--&nbsp;(<a href="nps-question/exit-survey3-code">Code</a>, <a href="nps-question/exit-survey3-js">JS</a>)--></li>                
            </ul>      

        </div>
    </div>
</main>

{% endblock %}


