{% extends "layout.html" %}

{% block page_title %}
  HMRC feedback
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                Feedback        
            </h1>
        
            <p>
                Initial thoughts on collecting feedback from services.
            </p>
      
            <h2 class="heading-medium">
                Exit surveys
            </h2>
            
            <p>
                <a href="exit-survey">Radios</a>
            </p>      
            
            <p>
                <a href="exit-survey2">Drop down</a>
            </p>      
            
            <p>
                <a href="exit-survey3">Text box</a>
            </p>      

        </div>
    </div>
</main>

{% endblock %}


