{% extends "layout.html" %}

{% block page_title %}
  HMRC feedback
{% endblock %}

{% block content %}

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                Feedback        
            </h1>
        
            <p>
                Initial thoughts on collecting feedback from services.
            </p>
      
            <h2 class="heading-medium">
                Get feedback
            </h2>
            
            <p>
                <a href="feedback1">Get feedback</a>
            </p>

            <h2>
                Early versions
            </h2>

            <p>
                These versions all ask the likely to recommend question differently.
            </p>      
            
            <ul class="list-bullet">
                <li><a href="exit-survey">Radios</a>&nbsp;(<a href="exit-survey-code">Code</a>, <a href="exit-survey-js">JS</a>)</li>
                <li><a href="exit-survey2">Drop down</a>&nbsp;(<a href="exit-survey2-code">Code</a>, <a href="exit-survey2-js">JS</a></a>)</li>
                <li><a href="exit-survey3">Text box</a>&nbsp;(<a href="exit-survey3-code">Code</a>, <a href="exit-survey3-js">JS</a></a>)</li>
                <li><a href="exit1">One thing on a page</a></li>
            </ul>      

        </div>
    </div>
</main>

{% endblock %}


