{% extends "layout.html" %}

{% block page_title %}
  Thanks for your feedback
{% endblock %}

{% block content %}

<main id="content" role="main">    

    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">                                        

            <h1 class="heading-large">
                Thank you for your feedback
            </h1>
            
            <p class="lede">
                If you need to speak to someone about what you were trying to do, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">contact the Tax Credit Helpline</a>.
            </p>
            
            <p>
                <a href="#">Sign in to your personal tax account</a>
            </p>
            
            <p>
                <a href="https://www.gov.uk/">Explore GOV.UK</a>
            </p>
            

    </div>
  </div>
</main>
    
{% endblock %}

