{% extends "layout.html" %}

{% block page_title %}
  Thanks for your feeback
{% endblock %}

{% block content %}

<main id="content" role="main">    

    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

        <a class="link-back" href="javascript:history.go(-1)">Back</a>                                

            <h1 class="heading-large">
                Thank you for your feedback
            </h1>
            
            <p>
                
            </p>
            
            

    </div>
  </div>
</main>

{% endblock %}